doctype html
html
    head
        meta(charset='utf-8')
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        title 车享天下 一站到底
        link(href='../common/css/reset.css',rel="stylesheet")
        link(href='../common/css/swiper.min.css',rel="stylesheet")
        style
            include:scss ../scss/index.scss
    body
        div.mod-layer
            div.mod-layer-content
                i.mod-layer-icon
                p.mod-layer-desc 为了更好的体验，请使用竖屏浏览
        div#content.content.swiper-container.swiper-container-vertical
            ul.cont-list.swiper-wrapper
                li.item-no1.swiper-slide
                    div.index-box
                        div.box-bg
                        video(src="https://www.pgfastss.net/media/bf720p.mp4" autoplay="autoplay")#index-video.index-video
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no2.swiper-slide
                    article
                        p
                            span.signal "&nbsp;
                            span.content.
                                上海申花足球俱乐部正式成立，申花是中国第一家完全脱离行政体育系统的职业足球俱乐部。俱乐部实行董事会领导下的总经理负责制，当时的董事长为郁知非，总经理为孙春明，首任主教练为徐根宝。
                            span.signal "
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no3.swiper-slide
                    article
                        p
                            span.signal "&nbsp;
                            span.content.
                                在徐根宝的带领下，申花很快形成了“抢逼围”的风格，对当时的中国足坛带来很大冲击。在1994赛季获得首届甲A联赛第3名后，于1995年提前两轮获得了球队历史上的首座联赛冠军奖杯。
                            span.signal "
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no4.swiper-slide
                    article
                        p
                            span.signal "&nbsp;
                            span.content.
                                申花重回虹口足球场，整个足球场占地面积为5.6公顷，是国内第一座标准的专业足球场。从职业联赛开始阶段的江湾体育场，到后来的虹口体育场，再到八万人体育场，最后回归虹口，同时也成为国内第一支入驻专业足球场的球队
                            span.signal " 
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no5.swiper-slide
                    article
                        p
                            span.signal "&nbsp;
                            span.content.
                                根宝足球基地位于崇明东平国家森林公园南首，由著名国家级足球教练徐根宝发起组建，总占地面积70余亩。总投资约3000万人民币，从2000年开始建造，2001年10月1日全部竣工。
                            span.signal " 
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no6.swiper-slide
                    article
                        p
                            span.signal "&nbsp;
                            span.content.
                                上海足球历史上第一次出现两支顶级联赛球队。02年3月9日，上海申花坐镇主场和上海中远打响联赛第一轮，这也是第一次真正意义上的上海德比。最终中院2比0客场取胜
                            span.signal " 
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no7.swiper-slide
                    article
                        p
                            span.signal "&nbsp;
                            span.content.
                                俱乐部始建于2005年12月，时称上海东亚足球俱乐部，由中国著名的上海本土教练徐根宝发起组建并担任公司董事长、俱乐部主席及球队总教练。俱乐部致力于培养本土优秀球员，重视青训系统，目标是打造“中国的曼联”。
                            span.signal " 
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no8.swiper-slide
                    article
                        p
                            span.signal "&nbsp;
                            span.content.
                                上海上港坐镇主场凭借埃尔克森的梅开二度和胡尔克、李浩文两人的锦上添花，以4-1战胜山东鲁能，锁定亚冠名额。由于当轮广州富力的输球，尚未踢第28轮比赛的上海申花“不战而胜”，拿到了下赛季亚冠门票，时隔6年重返亚冠赛场。而本轮赢球的上港也提前锁定下赛季亚冠名额，连续两年征战亚冠。申城双雄首次一同携手进军亚冠。
                            span.signal " 
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no9.swiper-slide
                    h3 车享社区杯5V5足球赛【上海站】
                    div.index-box
                        div.box-bg
                        video(src="https://www.pgfastss.net/media/bf720p.mp4" autoplay="autoplay")#index-video.index-video
                    span.arrow-box
                        a.next-btn
                        a.next-btn
                        a.next-btn
                li.item-no10.swiper-slide
                    main.animate-list
                        section.animated
                            h3 特色安排
                            p 邻近门店的社区主客场赛制！就近比赛，快捷方便！
                            p 神秘嘉宾带队训练！球队的战术打法更专业！
                            p 美女球队经理人！协调赛事安排打消后顾之忧！
                        section.animated
                            h3 参赛押金:
                                em.em|（结束后返还）
                            p 每支球队缴纳1000元赛事保证金。 
                            p 球队车享积分达到5000分的可以免缴保证金。
                        section.animated
                            h3 报名资格
                            p 车享注册会员均可免费报名参与。5~10人可组队报名， 
                            p 也支持个人报名。 
                            p 2017年2月10日前或满64支报名球队后截止
                        section.animated
                            h3 奖品设置
                            p 冠军奖励为2888元车享家储值卡，每队每人一张！ 
                            p 其他晋级球队都将获得丰厚大礼！
                        footer
                            a.regis_btn(href="http://jia.chexiang.com/fa/index.htm")
            div#swiper-pagination
        script
            include ../common/js/remset.js
        script(src="../common/js/zepto.js" type="text/javascript")
        script(src="../common/js/swiper.jquery.min.js" type="text/javascript")
        script
            include ../js/index.js
        
